Chap-__2/Chap-__2.xcodeproj/project.xcworkspace/
Chap-__2/Chap-__2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Chap-__2/Chap-__2.xcodeproj/project.xcworkspace/xcuserdata/jaranf.xcuserdatad/UserInterfaceState.xcuserstate
Chap-__2/Chap-__2.xcodeproj/xcuserdata/jaranf.xcuserdatad/xcdebugger/*
Chap-__2/Chap___2.1

chap-__3/Chap-__3.xcodeproj/project.xcworkspace/
chap-__3/Chap-__3.xcodeproj/project.xcworkspace/contents.xcworkspacedata
chap-__3/chap-__3.xcodeproj/project.xcworkspace/xcuserdata/jaranf.xcuserdatad/UserInterfaceState.xcuserstate
chap-__3/chap-__3.xcodeproj/xcuserdata/jaranf.xcuserdatad/xcdebugger/*
chap-__3/Chap___3.1

chap-__4/chap-__4.xcodeproj/project.xcworkspace/
chap-__4/chap-__4.xcodeproj/project.xcworkspace/contents.xcworkspacedata
chap-__4/chap-__4.xcodeproj/project.xcworkspace/xcuserdata/jaranf.xcuserdatad/UserInterfaceState.xcuserstate
chap-__4/chap-__4.xcodeproj/xcuserdata/jaranf.xcuserdatad/xcdebugger/*
chap-__4/chap___4.1

chap-__6/chap-__6.xcodeproj/project.xcworkspace/
chap-__6/chap-__6.xcodeproj/project.xcworkspace/contents.xcworkspacedata
chap-__6/chap-__6.xcodeproj/project.xcworkspace/xcuserdata/jaranf.xcuserdatad/UserInterfaceState.xcuserstate
chap-__6/chap-__6.xcodeproj/xcuserdata/jaranf.xcuserdatad/xcdebugger/*
chap-__6/chap___6.1

chap-__7/chap-__7.xcodeproj/project.xcworkspace/
chap-__7/chap-__7.xcodeproj/project.xcworkspace/contents.xcworkspacedata
chap-__7/chap-__7.xcodeproj/project.xcworkspace/xcuserdata/jaranf.xcuserdatad/UserInterfaceState.xcuserstate
chap-__7/chap-__7.xcodeproj/xcuserdata/jaranf.xcuserdatad/xcdebugger/*
chap-__7/chap___7.1

chap-__8/chap-__8.xcodeproj/project.xcworkspace/
chap-__8/chap-__8.xcodeproj/project.xcworkspace/contents.xcworkspacedata
chap-__8/chap-__8.xcodeproj/project.xcworkspace/xcuserdata/jaranf.xcuserdatad/UserInterfaceState.xcuserstate
chap-__8/chap-__8.xcodeproj/xcuserdata/jaranf.xcuserdatad/xcdebugger/*
chap-__8/chap___8.1

chap-__9/chap-__9.xcodeproj/project.xcworkspace/
chap-__9/chap-__9.xcodeproj/project.xcworkspace/contents.xcworkspacedata
chap-__9/chap-__9.xcodeproj/project.xcworkspace/xcuserdata/jaranf.xcuserdatad/UserInterfaceState.xcuserstate
chap-__9/chap-__9.xcodeproj/xcuserdata/jaranf.xcuserdatad/xcdebugger/*
chap-__9/chap___9.1

chap-10/chap-10.xcodeproj/project.xcworkspace/
chap-10/chap-10.xcodeproj/project.xcworkspace/contents.xcworkspacedata
chap-10/chap-10.xcodeproj/project.xcworkspace/xcuserdata/jaranf.xcuserdatad/UserInterfaceState.xcuserstate
chap-10/chap-10.xcodeproj/xcuserdata/jaranf.xcuserdatad/xcdebugger/*
chap-10/chap_10.1

chap-11/chap-11.xcodeproj/project.xcworkspace/
chap-11/chap-11.xcodeproj/project.xcworkspace/contents.xcworkspacedata
chap-11/chap-11.xcodeproj/project.xcworkspace/xcuserdata/jaranf.xcuserdatad/UserInterfaceState.xcuserstate
chap-11/chap-11.xcodeproj/xcuserdata/jaranf.xcuserdatad/xcdebugger/*
chap-11/chap_11.1

chap-12/chap-12.xcodeproj/project.xcworkspace/
chap-12/chap-12.xcodeproj/project.xcworkspace/contents.xcworkspacedata
chap-12/chap-12.xcodeproj/project.xcworkspace/xcuserdata/jaranf.xcuserdatad/UserInterfaceState.xcuserstate
chap-12/chap-12.xcodeproj/xcuserdata/jaranf.xcuserdatad/xcdebugger/*
chap-12/chap_12.1

